body {
    font-family: Montserrat;
    background-repeat: none;
        background-color: rgb(121, 22, 22);
}

a {
    color: white;
}

#selection {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white
}


h3 {
    padding-right: 10px;
}

button {
    margin-left: 0px;
}

.table {
    font-size: larger;
    padding-top: 20px;
    border: 3px solid black;
}

tr {
    color: white;
}

th {
    color: white;
}

td {
    color: white;
}

h2 {
    padding-bottom: 10px;
    color: white;
}

#teams {
    padding: none;
    border-top: 3px solid black;
    text-align: center;
}

.col-1 {
    font-weight: bold;
}

.col {
    padding: 2px;
    border: 1px solid black;
    text-align: center;
    font-size: smaller;
    flex-wrap: wrap;
}

h1 {
    color: white;
}

h3 {
    color: white;
}